.view-user {
  padding: 24px 50px 24px;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.view-user-avatar {

}

.view-user-section {
  padding: 20px 0;
  color: #000;
}

.view-user-section-block {
  display: flex;
}

.view-user-section-title {
  margin-bottom: 20px;
}
