.edit-user {
  padding: 24px 50px 24px;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.edit-user-avatar {

}

.edit-user-section {
  padding: 20px 0;
  color: #000;
}

.edit-user-section-block {
  display: flex;
}

.edit-user-item {
  border-left: 1px solid #E8E6E6;
  padding: 0 20px !important;
}

.edit-user-section-title {
  margin-bottom: 20px;
}

.edit-user-button {
  width: 100%;
}